body {
    background-color: rgb(3, 41, 110);
    color: rgb(112, 255, 231);
    outline: 3px;
    -webkit-text-stroke-color: rgb(2, 116, 97);
    -webkit-text-stroke-width: 0.75px;
    font-family: fantasy;
}

a {
    color:rgb(112, 255, 231);
    outline: 3px;
    -webkit-text-stroke-color: rgb(2, 116, 97);
}

.titleText {
    outline-style: groove;
    outline-color: green;
    outline-width: 5px;
    outline-offset: 1px;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;
    margin-bottom: 3%;
}

.whySlothsCool {
    font-size: 20px;
}

.listItems {
    font-family: 'Times New Roman', Times, serif;
}

.theSloths {
    display: block;
    margin: 0 auto;
    text-align: center;
    height: 300px;
    width: 300px;
  }

.theSlothsButtons1 {
    display: block;
    margin: 0 auto;
    border-color: rgba(40, 241, 158, 0.849);
    border-width: 5px;
    font-size: 34.7px;
    background-color: rgb(3, 41, 110);
    color: rgb(112, 255, 231);
    font-family: monospace;
}

.theSlothsButtons2 {
    display: block;
    margin: 0 auto;
    border-color: rgba(40, 241, 158, 0.849);
    border-width: 5px;
    font-size: 35px;
    background-color: rgb(3, 41, 110);
    color: rgb(112, 255, 231);
    font-family: monospace;
}

.slothJumpText {
    padding-left: 10%;
    font-size: 30;
    font-family: monospace;
}

.slothJumpCounter {
    padding-left: 10%;
    font-size: 30;
    font-family: monospace;
}