:root
{
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
}

body
{
  height: 1650px;
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-image: url("bg1.jpg");
  background-size: 100%;
  background-color: rgb(0, 0, 0);
  font-family: fantasy;
}

.navbar
{
  height: 80px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid rgba(70, 70, 70, 0.3);
  backdrop-filter: blur(5px);
}

.navbarImg
{
  height: 80px;
  align-items: center;
  justify-content: center;
}
